/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media only screen and (max-width: 34em) {
  /* 34em = 34*16 = 544px */

  header {
    display: none;
  }

  .journey {
    margin-top: 4rem;
    width: 50%;
  }
  .journey div:nth-child(2) {
    margin-top: -5rem;
    width: 100%;
    position: relative;
    left: 25%;
  }

  .flex-wrapper {
    flex-direction: column;
  }
  .journey__info {
    width: auto;
    position: relative;
    left: 20%;
  }
  .journey__img {
    width: 16rem;
    height: 16rem;
  }
  .journey__heading {
    font-size: 1.75rem;
    width: 25.25rem;
  }
  .journey__description {
    font-size: 0.875rem;
    width: 25rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: -3rem;
  }
  .text--shadow {
    font-size: 1.5rem;
    position: relative;
    left: 25%;
  }

  /* collections: */
  .collections {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .collection {
    margin: 0 auto;
  }

  .testimonials {
    align-items: stretch;

    flex-direction: row;
    flex-wrap: wrap;
  }

  /* creative: */

  .creative {
    margin: 5rem auto;
    width: 91%;
  }
  .creative__banner {
    width: 100%;
    margin: 0 auto;
  }
  .creative__banner div:first-child {
    display: none;
  }

  .creative__banner div:last-child {
    width: 100%;
  }

  @media only screen and (max-width: 56.25rem) {
  }
}
